/* reset style */
* {
  box-sizing: border-box;
  border: 0px;
  margin: 0px;
  padding: 0px;
  background-color: rgb(237, 218, 242);
}

/* navigation bar */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  color: black;
}
.navbar {
  font-size: 24px;
  font-weight: 300;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

/* reset navbar a */
nav a {
  text-decoration: none;
  /* display:block; */
  background-color: rgb(193, 170, 192);
  color: rgb(39, 33, 33);
  padding: 5px;
  font-size: 18px;
  border-radius: 10px;
  text-transform: capitalize;
  font-size: 18px;
}

/* headings */
h1 {
  color: #51434c;
  text-align: center;
  font-weight: 900;
  font-size: 50px;
}
h3 {
  font-weight: 500;
  font-size: 30px;
}

/* section styles */
section {
  padding: 20px;
  margin: 10px;
}

/* Products Section  */
#products {
  text-align: justify;
  padding: 40px;
}

#product-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 10px;
}

#product {
  background: rgb(244, 218, 244);
  padding: 15px;
  border-radius: 10px;
  text-align: left;
}

#product img {
  width: 30%;
  border-radius: 10px;
}

/* button section */
.shop-button {
  background-color: #201f1e;
  color: white;
  border: none;
  padding: 10px;
  font-size: 14px;
  border-radius: 5px;
  margin-top: 10px;
}

.shop-button:hover {
  background-color: #65605c;
}

/* Contact Section */
#contact {
  text-align: center;
  padding: 20px;
  background-color: #f0f0f0;
  flex-direction: column;
}

#contact button {
  background: rgb(52, 51, 51);
  color: white;
  border: none;
  padding: 5px;
  cursor: pointer;
  border-radius: 0px;
}

/* Footer */
footer {
  padding: 0px;
  margin-top: 15px;
  justify-content: space-around;
}

@media (max-width: 600px) {
  nav {
    flex-direction: column;
    text-align: center;
  }

  .nav-links {
    flex-direction: column;
    padding-top: 10px;
  }

  .product {
    flex-direction: column;
    text-align: center;
    width: 100%;
  }

  .product img {
    width: 80%;
    max-width: 250px;
  }
}
